/*.swp
/*.tgz
/.base16-shell.symlink/
/.bin/hub.symlink
/.bin/jq.symlink
/.bin/pup.symlink
/.fonts
/.scm_breeze.symlink/
/.venv
/.vim/spell.symlink/*.spl
/.vim/spell.symlink/*.sug
/.vim/spell.symlink/local.en.utf-8.add
/.xnviewmp.symlink/*
