.DS_Store
/*.swp
/*.tgz
/.base16-shell.symlink/
/.bin/hub.symlink
/.bin/jq.symlink
/.bin/pup.symlink
/.fonts
/.scm_breeze.symlink/
/.venv
/.xnviewmp.symlink/*
/dotfiles_shared/.zshrc.d.symlink/montoux.zsh
__pycache__
