[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=xterm
Icon=xterm
Name=xterm + tmux
X-XFCE-Commands=xterm -maximized -e "tmux new"
