[Desktop Entry]
Version=1.0
Type=Application
Name=Bluetooth Connect and Default
Icon=bluetooth-symbolic
Exec=xterm -e bash -c 'PATH="$HOME/.bin:$PATH" && bluetooth-connect-and-default'
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
