[Desktop Entry]
Version=1.0
Type=Application
Name=neovim
GenericName=Text Editor
Comment=nvim
Icon=gvim
Exec=xterm -maximized -title nvim -e "bash /home/sebastian/.zsh/plugins/base16-shell/scripts/base16-eighties.sh && nvim %F"
Path=/home/sebastian/Desktop
NoDisplay=false
Categories=TextEditor;Utility;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
StartupNotify=true
Terminal=false
