[Desktop Entry]
Version=1.0
Type=Application
Name=Thunar File Manager
GenericName=File Manager
Comment=Browse the filesystem with the file manager
Icon=Thunar
Exec=thunar %F
Path=/home/sebastian/Desktop
NoDisplay=false
Categories=Core;FileManager;FileTools;GTK;System;Utility;
StartupNotify=true
Terminal=false
