[Desktop Entry]
Version=1.0
Type=Application
Name=Appearance
Comment=Customise the look of your desktop with themes
Icon=preferences-desktop-theme
Exec=xfce4-appearance-settings
NoDisplay=false
OnlyShowIn=XFCE;
Categories=DesktopSettings;GTK;Settings;Utility;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
StartupNotify=true
Terminal=false
