- name: Play to install appimages
  hosts: all

  vars:

    neovim_version: 0.11.6  # renovate: neovim/neovim

  tasks:

    - name: Get neovim
      get_url:
        url: https://github.com/neovim/neovim/releases/download/v{{ neovim_version }}/nvim-linux-x86_64.appimage
        dest: "{{ target_directory }}/.bin/nvim_{{ neovim_version | regex_replace('\\.', '_') }}"
        mode: 0755
    - name: Link neovim
      file:
        src: "{{ target_directory }}/.bin/nvim_{{ neovim_version | regex_replace('\\.', '_') }}"
        dest: "{{ target_directory }}/.bin/nvim"
        state: link
