- name: Play to install utils
  hosts: all

  vars:

    actionlint_version: 1.7.9  # renovate: rhysd/actionlint
    asdf_version: 0.18.0  # renovate: asdf-vm/asdf
    fzf_version: 0.66.0  # renovate: junegunn/fzf
    terraform_ls_version: 0.36.5  # renovate: hashicorp/terraform-ls

  tasks:

    - name: Install Actionlint
      include_tasks: includes/zipped_executable.yml
      vars:
        product: actionlint
        url: https://github.com/rhysd/actionlint/releases/download/v{{ actionlint_version }}/actionlint_{{ actionlint_version }}_{{ os }}_{{ architecture | default('amd64') }}.tar.gz
        version: "{{ actionlint_version }}"

    - name: Install ASDF
      include_tasks: includes/zipped_executable.yml
      vars:
        product: asdf
        url: https://github.com/asdf-vm/asdf/releases/download/v{{ asdf_version }}/asdf-v{{ asdf_version }}-{{ os }}-{{ architecture | default('amd64') }}.tar.gz
        version: "{{ asdf_version }}"

    - name: Install fzf
      include_tasks: includes/zipped_executable.yml
      vars:
        product: fzf
        url: https://github.com/junegunn/fzf/releases/download/v{{ fzf_version }}/fzf-{{ fzf_version }}-{{ os }}_{{ architecture | default('amd64') }}.tar.gz
        version: "{{ fzf_version }}"

    - name: Install Terraform LS
      include_tasks: includes/zipped_executable.yml
      vars:
        product: terraform-ls
        url: https://releases.hashicorp.com/terraform-ls/{{ terraform_ls_version | trim('v') }}/terraform-ls_{{ terraform_ls_version | trim('v') }}_{{ os }}_{{ architecture | default('amd64') }}.zip
        version: "{{ terraform_ls_version | trim('v') }}"
