- name: Play to install Cargo packages
  hosts: all

  vars:
    packages:
      selene: 0.29.0  # renovate: Kampfkarren/selene
      stylua: 2.3.1  # renovate: JohnnyMorganz/StyLua

  tasks:

    - name: Install Cargo packages
      community.general.cargo:
        name: "{{ item.key }}"
        version: "{{ item.value }}"
      loop: "{{ packages | dict2items }}"
